APP_NAME="Mentra-AI"
APP_VERSION=0.1

# Gemini Keys(Main fallback key)
GEMINI_API_KEY=""

# Cohere
COHERE_API_KEY=""

# Agent-specific keys
GEMINI_API_KEY_SUPERVISOR=""
GEMINI_API_KEY_PROFILE=""
GEMINI_API_KEY_CURRICULUM=""
GEMINI_API_KEY_RESOURCE=""
GEMINI_API_KEY_ADAPTATION=""

# Groq fallback keys (2 keys — if first hits limit, switches to second)
GROQ_API_KEY_1=""
GROQ_API_KEY_2=""

# Langsmith (optional)
LANGSMITH_TRACING=false
LANGSMITH_ENDPOINT=""
LANGSMITH_API_KEY=""
LANGSMITH_PROJECT=""

# Chatbot
# Avaliable OPTIONS TYPES ["GEMINI","OPENAI","COHERE"]
ROUTER_LLM_TYPE="GEMINI"
ROUTER_LLM_MODEL="gemini-2.5-flash-lite"

SIMPLE_LLM_TYPE="GEMINI"
SIMPLE_LLM_MODEL="gemini-2.5-flash-lite"

MEDIUM_LLM_TYPE="GEMINI"
MEDIUM_LLM_MODEL="gemini-2.5-flash-lite"

ADVANCED_LLM_TYPE="GEMINI"
ADVANCED_LLM_MODEL="gemini-2.5-flash"

EMBEDDING_MODEL_TYPE="COHERE"
EMBEDDING_MODEL_NAME="embed-multilingual-v3.0"
EMBEDDING_SIZE=1024

# Chat Window
MEMORY_MAX_WINDOW=20
MEMORY_SUMMARY_INTERVAL=5

#Redis Conf
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=Redis_Mentra_ai

CACHE_SIMILARITY_THRESHOLD=0.92
CACHE_TTL_SECONDS=86400

# ========================
# Tools
TAVILY_API_KEY=""
YOUTUBE_API_KEY=""


